

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-pink: #feb1df;
  --dark-pink: #522733;
  --dark-color: #333;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color:beige;
  font-size: 16px;
  line-height: 1.5;
}

i {
  font-family: "FontAwesome";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.navbar-top {
  background: var(--dark-color);
}

.logo {
  padding: 20px;
  background-color: beige;
}


.navbar-top .container{ 
  display: flex;
  justify-content: left; 
  align-items: center;
}

.navbar-top .main-menu {
  margin-left: 30px;
}

.navbar-top .main-menu ul {
  display: flex;
}

.nav-link, .navbar-bottom ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar-top ul li a:hover, .navbar-bottom ul li a:hover {
  color: var(--light-pink);
  background-color: #454545;
}

.navbar-top ul li a.active{
  color: var(--light-pink);
}

.navbar-bottom {
  background: var(--dark-pink);
  padding: 20px;
  position: fixed;
  height: 100%;
  width: 13.54%;
}

#main {
  margin-left: 13.54%;
  padding: 20px; 
}