

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-pink: #feb1df;
  --dark-pink: #522733;
  --dark-color: #333;
  --complete-color: rgb(11, 224, 11);
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
  font-size: 16px;
  line-height: 1.5;
}

i {
  font-family: "FontAwesome";
  color: var(--dark-color);
  padding: 2px;
  font-size: 17px;
}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(197, 72, 72);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input[type="text"], input[type="date"] {
  margin-bottom: 30px;
  width: 100%;
  height: 5%;
}

.navbar-top {
  background: var(--dark-color);
  padding: 15px;
  margin-left: 13.54%;
   
}

.navbar-top .container{ 
  display: flex;
  justify-content: left; 
  align-items: center;
}

.navbar-top .main-menu {
  margin-left: 30px;
}

.navbar-top .main-menu ul {
  display: flex;
}

.nav-link, .navbar-bottom ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar-top ul li a:hover, .navbar-bottom ul li a:hover {
  color: var(--light-pink);
  background-color: #454545;
}

.navbar-top ul li a.active{
  color: var(--light-pink);
}

.navbar-bottom {
  background: var(--dark-pink);
  padding: 20px;
  position: fixed;
  height: 100%;
  width: 13.54%;
}

.navbar-bottom .logo-container {
  background-color: white;
  margin-top: -20px;
  padding-top: 19px;
  margin-left: -19px;
  padding-left: 19px;
  margin-right: -19px;
  padding-bottom: 15px;
}

#main {
  margin-left: 13.54%;
  padding: 60px; 
}

#main .container {
  margin-top: 30px;
}

.btn {
  background-color: var(--dark-color);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  color: var(--light-pink);
}

table {
  width: 100%;
  border-collapse: collapse; 
  border: 1px dotted black;
}

th {
  background-color: rgba(37, 30, 34, 0.7);
  color: white;
  padding: 20px 0px;
}

tr {
  border-bottom: 1px dotted black;
}

tr:hover {
  background-color: rgba(37, 30, 34, 0.05);
}

td {
  text-align: center;
  padding: 15px 15px;
  
}

.bikes-table .bike-out {
  color: red;
}

.even {
  background-color: rgba(37, 30, 34, 0.05);
}

.orders-table .select-order-complete {
  text-align: center;
  background-color: var(--complete-color);
  
}

.orders-table .select-order-processing {
  text-align: center;
  background-color: rgb(253, 253, 6);
  
}

.orders-table .due-date {
  background-color: rgba(255, 0, 0, 0.5);
  
}

.order-create {
  display: flex;
}

.order-create .left-side {
  text-align: center;
  letter-spacing: 1px;
  padding-left: 30%;
}
.order-create .right-side {
  margin-left: auto;
  text-align: center;
  letter-spacing: 1px;
  padding-right: 30%;
}

.order-create select {
  margin-bottom: 30px;
  width: 100%;
  height: 7%;
  text-align: center;
}

.form-btn {
  margin-left: 40%;
  margin-top: 5%;
  width: 20%;
}

.assign {
  text-align: center;
}

.settings {
  display: flex;
}

.settings .btn {
  margin-top: 30px;
  margin-right: 30px;
}

.pagination {
  display: flex;
  align-content: right;
  justify-content: right;
}

.fa-bicycle {
  color: red;
}

.orders-table .bikes-assigned{
  color: var(--complete-color);
}

.sorting-section {
  display: flex;
}

.sorting-section div:last-child {
  margin-left: auto;
}

.sorting-section input[type=text] {
  float: right;
  border: none;
  height: 30px;
  width: 50px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}